player-connection-mode=Listen
player-connection-guid=3542827640
player-connection-debug=0
player-connection-project-name=MultiplayerFPSPhoton
player-connection-ip=192.168.6.1
player-connection-ip=192.168.19.1
player-connection-ip=1.1.2.1
player-connection-ip=172.26.128.1
player-connection-ip=192.168.1.236
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
gc-max-time-slice=3
